In [20]:
import findspark
findspark.init('/opt/spark-2.4.4/')
import pyspark
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import DoubleType, IntegerType, StringType
from pyspark.sql import SparkSession

In [21]:
if __name__ == '__main__':
    scSpark = SparkSession \
        .builder \
        .appName("reading csv") \
        .getOrCreate()
    
    data_file = '/home/jr/Documents/spark/data*.csv'
    sdfData = scSpark.read.csv(data_file, header=True, sep=",").cache()
    
    print('Total Records = {}'.format(sdfData.count()))
    
    sdfData.show()

Total Records = 4
+------+------+-----------+
|  nome| idade|      país |
+------+------+-----------+
| adnan|    40| Paquistão |
|  maaz|     9| Paquistão |
| musab|     4| Paquistão |
|ayesha|    32|  Paquistão|
+------+------+-----------+

In [ ]:
data_file = '/home/jr/Documents/spark/supermarket_sales*.csv'
    sdfData = scSpark.read.csv(data_file, header=True, sep=",").cache()
    gender = sdfData.groupBy('Gender').count()
    print(gender.show())

In [ ]:
    sdfData.registerTempTable ("sales") 
    output = scSpark.sql ('SELECT * from sales') 
    output.show ()

In [ ]:
    output = scSpark.sql ('SELECT * from sales WHERE `Preço unitário` <15 AND Quantidade <10') 
    output.show ()

In [ ]:
    output = scSpark.sql('SELECT COUNT(*) as total, City from sales GROUP BY City')
    output.show()

In [ ]:
scSpark = SparkSession \
        .builder \
        .appName("reading csv") \
        .config("spark.driver.extraClassPath", "/usr/local/spark/jars/mysql-connector-java-8.0.16.jar") \
        .getOrCreate()

In [ ]:
output = scSpark.sql('SELECT COUNT(*) as total, City from sales GROUP BY City')
    output.show()
    output.write.format('jdbc').options(
        url='jdbc:mysql://localhost/spark',
        driver='com.mysql.cj.jdbc.Driver',
        dbtable='city_info',
        user='root',
        password='root').mode('append').save()